@model Review

@{
    ViewData["Title"] = "Edit";
}


<div class="container-fluid pt-3">
    <h1 class="pb-3 text-warning text-center">Edit</h1>
    <div class="card bg-ebony-800 text-white" style="width: 50%; margin:0 auto;">
        <div class="card-body text-center">
            <p class="card-text font-18">
                User Name - @Model.AppUser.UserName
            </p>
            <p class="card-text font-18">
                Email - @Model.AppUser.Email
            </p>
            <p class="card-text font-18">
                Product Name- @Model.Product.Name
            </p>
            <p class="card-text font-18">
                Comment - @Model.Text
            </p>
            <p class="card-text font-18">
                Date - @Model.CreatedAt.ToString("dd MMM yyyy HH:mm")
            </p>
            
            <p class="card-text font-18">
                Review Status - @Model.IsAccepted
            </p>
        </div>
        
        <div class="card-body text-center">
            <a asp-action="accept" asp-route-id="@Model.Id" class="font-18 btn btn-success">Accept</a>
            <a asp-action="reject" asp-route-id="@Model.Id" class="font-18 btn btn-danger">Reject</a>
        </div>
    </div>
</div>

