@inject LayoutService service
@inject UserManager<AppUser> userManager


@{
    Setting setting = service.GetSetting();
    AppUser member = User.Identity.IsAuthenticated ? userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin) : null;
    List<BasketItemViewModel> basketItems = service.GetBasketItems();
    List<WishlistItemViewModel> wishlistItems = service.GetWishlistItems();
    double totalCount = 0;
    totalCount = basketItems.Sum(x => x.Price * x.Count);

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="icon" href="https://demo-40.woovinapro.com/wp-content/uploads/2020/07/favi-icon.png" sizes="192x192">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    @RenderSection("profileStyles", required: false)

    <title>Ulvino</title>
</head>

<body>
    <header>
        <div class="header-fixed">
            <div class="container ">
                <div class="row">
                    <ul>
                        <li>
                            <a href="">
                                <i class=" fas fa-user"></i>
                            </a>
                            <a asp-controller="wishlist" asp-action="index">
                                <i class="far fa-heart"></i>
                                <span class="icon-count wishlist-total-count">@wishlistItems.Count()</span>

                            </a>
                        </li>
                        <li class="account-box-main ">
                            <div class="my-account-box">
                                <p>MY ACCOUNT</p>
                                @if (member != null)
                                {
                                    <a asp-controller="account" asp-action="profile"><span>@member.FullName</span></a>

                                    <a asp-controller="account" asp-action="logout"><span>Sign out</span></a>

                                }
                                else
                                {
                                    <a data-bs-toggle="modal" data-bs-target="#loginModal" class="show-login-modal">
                                        <span>Login</span>
                                    </a>
                                    <a data-bs-toggle="modal" data-bs-target="#registerModal" class="show-register-modal">
                                        <span>Register</span>
                                    </a>

                                }
                            </div>
                        </li>

                        <li><a asp-controller="home" asp-action="index">HOME</a></li>
                        <li><a asp-controller="about" asp-action="index">ABOUT US</a></li>
                        <li><a asp-controller="product" asp-action="index">SHOP</a></li>
                        <li>
                            <a asp-controller="home" asp-action="index">
                                <img class="header-logo" src="~/assets/images/@setting.HeaderLogo" alt="">
                            </a>
                        </li>
                        <li><a asp-controller="faq" asp-action="index">FAQ</a></li>
                        <li><a asp-controller="blog" asp-action="index">BLOG</a></li>
                        <li><a asp-controller="contact" asp-action="index">CONTACT US</a></li>
                        <li>
                            <a class="searchModal" data-bs-toggle="modal" data-bs-target="#searchModal">
                                <i class="fas fa-search"></i>
                            </a>
                            <a asp-controller="cart" asp-action="index">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="icon-count basket-total-count">@basketItems.Count()</span>

                            </a>
                        </li>
                        <li class="cart-box show-basket-box ">
                            @await Html.PartialAsync("_BasketPartial", basketItems)

                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </header>

    <a href="" class="scroll-top ">
        <i class="fas fa-angle-double-up"></i>
    </a>

    @RenderBody()

    <footer style="background-image: url(/assets/images/footer.jpg);">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <div>
                            <a href="./index.html">
                                <img class="footer-logo" src="~/assets/images/@setting.FooterLogo" alt="">
                            </a>
                        </div>
                        <p>
                            @setting.FooterDesc
                        </p>
                        <div class="footer-icon-box">
                            <i class="@setting.LocationIcon"></i>
                            <span>@setting.Address</span>
                        </div>
                        <div class="footer-icon-box">
                            <i class="@setting.PhoneIcon"></i>
                            <span>@setting.Phone</span>
                        </div>
                        <div class="footer-icon-box">
                            <i class="@setting.EmailIcon"></i>
                            <span>@setting.ContactEmail</span>
                        </div>
                        <div class="footer-icon-box">
                            <i class="@setting.WorkTimeIcon"></i>
                            <span>@setting.WorkTime</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <h3>INFORMATION</h3>
                        <a asp-controller="about" asp-action="index" class="footer-item">About Us</a>
                        <a asp-controller="product" asp-action="index" class="footer-item">Shop</a>
                        <a asp-controller="faq" asp-action="index" class="footer-item">FAQ</a>
                        <a asp-controller="blog" asp-action="index" class="footer-item">Blog</a>
                        <a asp-controller="contact" asp-action="index" class="footer-item">Contact Us</a>
                    </div>
                    <div class="col-2">
                        <h3>MY ACCOUNT</h3>
                        <a href="" class="footer-item">Order Tracking</a>
                        <a href="./cart.html" class="footer-item">Cart</a>
                        <a href="./checkout.html" class="footer-item">Checkout</a>
                        <a href="./wishlist.html" class="footer-item">Wishlist</a>
                        <a href="./account.html" class="footer-item">My Account</a>
                    </div>
                    <div class="col-3 footer-right">
                        <h3>NEWSLETTER</h3>
                        <div class="hotline-box">
                            <img src="~/assets/images/@setting.HotlineImage" alt="">
                            <div class="hotline-texts">
                                <h4>Hotline Free 24/24:</h4>
                                <p>@setting.Hotline</p>
                            </div>

                        </div>
                        <span class="footer-right-adress">@setting.Adress2</span>
                        <span class="footer-right-mail">@setting.SupportEmail</span>
                        <div class="social-media-icons">
                            <a asp-controller="home" asp-action="index">
                                <i class="@setting.TwitterIcon"></i>
                            </a>
                            <a asp-controller="home" asp-action="index">
                                <i class="@setting.FacebookIcon"></i>
                            </a>
                            <a asp-controller="home" asp-action="index">
                                <i class="@setting.GooglePlusIcon"></i>
                            </a>
                            <a asp-controller="home" asp-action="index">
                                <i class="@setting.YoutubeIcon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row footer-bottom-box">
                    © Copyright 2021 <a href="">Ulvino</a> - All Rights Reserved - Powered by <a href="">
                        WooVina
                        Theme.
                    </a>
                    <span>
                        <img src="~/assets/images/payment.png" alt="">
                    </span>
                </div>
            </div>
        </div>

    </footer>

    <!-- Modal for Login start -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="login-modal-detail">


                </div>
                <div class="modal-footer">
                    <p>Not a member?</p>
                    <a data-bs-toggle="modal" data-bs-target="#registerModal" class="show-register-modal">REGISTER</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Login finish -->
    <!-- Modal for Forgot Password start -->
    <div class="modal fade" id="forgotModal" tabindex="-1" aria-labelledby="forgotModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header forgot-modal-header">
                    <h5 class="modal-title" id="forgotModalLabel">Forgot Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="forgot-modal-detail">


                </div>
                <div class="modal-footer">
                    <p>Back to</p>
                    <a data-bs-toggle="modal" data-bs-target="#loginModal" class="show-login-modal">Login</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Forgot Password finish -->
    <!-- Modal for Register start -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModallLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title create-account" id="registerModalLabel">Create An Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="register-modal-detail">


                </div>
                <div class="modal-footer">
                    <p>Already a member?</p>
                    <a data-bs-toggle="modal" data-bs-target="#loginModal">SIGN IN</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Register finish -->
    <!-- Modal for Product start -->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container " id="product-modal-detail">


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Product finish -->
    <!-- Modal for Search start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="search" name="" id="" placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Search finish -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("homejs", required: false)
    @RenderSection("faqjs", required: false)
    @RenderSection("blogjs", required: false)
    @RenderSection("productjs", required: false)
    @RenderSection("profilejs", required: false)
    @RenderSection("wishlistjs", required: false)
    @RenderSection("cartjs", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/b26885e958.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>